.design {
  padding: $pd-5 0;
  .design__title {
    text-align: center;
    margin-bottom: $mg-5;
    h3 {
      letter-spacing: $ls-2;
      font-weight: normal;
      padding-bottom: $pd-2 - 5;
      margin-bottom: $mg-1;
    }
    .border-short-top {
      width: 70px;
      border: 1px solid $color-gray-3;
    }
    p {
      display: inline-block;
      color: $color-gray-1;
      width: 60%;
      line-height: 25px;
      margin: $mg-2 auto;
    }
  }
  .design__list {
    .design__content {
      &.border-box {
        position: relative;
        border: 1px solid $color-gray-0;
        border-radius: 4px;
        padding: $pd-1;
      }
      // i {
      //   font-size: $fs-2;
      //   color: $color-white-0;
      //   padding: $pd-3;
      //   background-color: $color-black-1;
      //   position: absolute;
      //   top: -10%;
      //   left: 10%;
      // }
      h4 {
        margin: $mg-3 0;
        letter-spacing: $ls-2 - 1;
        font-weight: normal;
      }
      p {
        font-size: $fs-1;
        color: $color-gray-1;
      }
    }
  }
}
