.showcase {
  .page__content {
    padding-top: $pd-4;
    .showcase__content {
      h3 {
        letter-spacing: $ls-2;
        font-weight: $fw-0;
        margin-bottom: $mg-3;
      }
      .border-short-top {
        width: 70px;
        border: 1px solid $color-gray-3;
        margin-bottom: $mg-2;
      }
      p {
        width: 60%;
        margin: 0 auto;
        @include styleText($fs-1, $color-gray-1, $fw-3);
      }
    }
    .showcase__filter {
      display: flex;
      width: 100%;
      margin: $mg-3 0;
      justify-content: center;
      li {
        list-style: none;
        margin: 0 $mg-1;

        a {
          font-size: $fs-1 - 2;
          letter-spacing: $ls-2 + 1;
          color: $color-gray-5;
        }
      }
    }
  }
  .portfolio {
    .portfolio__item {
      img {
        height: 270px;
        width: 100%;
      }
    }
  }
}
